@model GitNinja.Gallery.Web.Models.Dojo
@{
    ViewBag.Title = Model.Name;
}
@section right{
    <ul class="nav nav-list">
        <li class="nav-header">@Model.Name Repositories</li>
        @if (Model.Any()) {
            foreach (var item in Model) {
                <li>@Html.ActionLink(item.Name, "Repo", new { dojo = item.Dojo, repo = item.Name })</li>
            }}
        <li class="divider"></li>
    </ul>
    @using (Html.BeginForm("Create", "Dojo", FormMethod.Get, new { @class = "form-search" }))
    {
        <span class="nav-header">Add new repository</span>
        <div class="well-small">
            @Html.Hidden("dojo", Model.Name)
            @Html.TextBox("repo", null, new { placeholder = "repo name", @class = "pull-left" })
            <input type="submit" value="Go" class="btn btn-primary pull-right" />
        </div>
    }
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Dashboard", "Index", "Dojo") <span class="divider">/</span></li>
    <li>@Html.ActionLink(Model.Name, "Dojo", new { dojo = Model.Name }) <span class="divider">/</span></li>
</ul>