@model GitNinja.Gallery.Web.Models.Dojo
@{
    ViewBag.Title = Model.Name;
}

@section topbar{
    <h3>Dojo - @Model.Name</h3>
}

@section right{
    <ul class="nav nav-list">
        <li class="nav-header">@Model.Name Repositories</li>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
            <li>@Html.ActionLink(item.Name, "Repo", new { dojo = item.Dojo, repo = item.Name })</li>
            }
        }
        <li class="divider"></li>
    </ul>
    @using (Html.BeginForm("Create", "Dojo", FormMethod.Get))
    {
        <ul class="nav nav-list">
            <li class="nav-header">Add new repository</li>
            <li>
                <div class="input-prepend input-append">
                    @Html.Hidden("dojo", Model.Name)
                    <span class="add-on">@Model.Name / </span>
                    @Html.TextBox("repo", null, new { placeholder = "repo name", @class="span2" })
                    <input type="submit" value="Create" class="btn" />
                </div>
            </li>
        </ul>
    }

}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Dashboard", "Index", "Dojo") <span class="divider">/</span></li>
    <li>@Html.ActionLink(Model.Name, "Dojo", new { dojo = Model.Name }) <span class="divider">/</span></li>
</ul>
