@using GitNinja.Gallery.Web
@using GitNinja.Gallery.Web.App_Start
@using PagedList
@using PagedList.Mvc
@model global::GitNinja.Gallery.Web.Models.Repo
@{
    ViewBag.Title = Model.Name;
    const int pageSize = 10;
    var pageNumber = int.Parse(Request["page"] ?? "1");
    var commits = Model.Repository.Commits.ToPagedList(pageNumber, pageSize);
}
@section topbar
{
    <h3>@Model.Dojo <span>/</span> @Model.Name</h3>
}
@section head{
    @Styles.Render("~/Content/paging")
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Dashboard", "Index", "Dojo")<span class="divider">/</span></li>
    <li>@Html.ActionLink(Model.Dojo, "Dojo", new { dojo = Model.Dojo })<span class="divider">/</span></li>
    <li>@Html.ActionLink(Model.Name, "Repo", new { dojo = Model.Dojo, repo = Model.Name })</li>
</ul>
<p>
    Repository:
    @Html.TextBox("GitRepositoryUrl", Model.Url)
</p>
<ul class="nav nav-stacked">
    @foreach (var commit in commits) {
        <li class="well well-small" style="margin-bottom: 3px; font-size: smaller;">
            @Html.Raw(Html.Gravatar(commit.Author.Email, 40, htmlAttributes: new { @class = "gravatar pull-left img-rounded", style = "margin-right: 10px;" }))
            <div class="commit-details pull-left">
                @Html.ActionLink(commit.MessageShort, "Detail", "Commit", new { id = commit.Id }, new { @class = "commit-message", style = "" })<br />
                @Html.ActionLink(commit.Author.Name, "Detail", "Author", new { id = commit.Author.Email.ToMd5Hash() }, new { @class = "commit-author" })
            </div>
            <div class="commit-links pull-right">
                @Html.ActionLink(commit.Id.ToString(12), "Detail", "Commit", new { id = commit.Id }, new { @class = "label pull-right" })<br />
                @Html.ActionLink("Browse code", "Detail", "Commit", new { id = commit.Id }, new { @class = "label label-info pull-right" })
            </div>
            <div class="clearfix"></div>
        </li>
    }
</ul>
@Html.PagedListPager(commits, page => Url.Action("Repo", "Dojo", new { page }))