@model GitNinja.Gallery.Web.Models.View.Blob
@{
    Layout = "../Shared/_Repo.cshtml";
    bool isPjax = Request.Headers["X-PJAX"] != null;
    Layout = isPjax ? null : "../Shared/_Repo.cshtml";
}

<div class="tab-pane active" id="tree">
    @Html.Partial("PathBreadCrumb", Model)

    <p>File: @Model.FileName</p>
    <p>Extension: @Model.Extension</p>
    <p>Size: @Model.SizeInBytes bytes</p>

    <pre>@Model.Content</pre>
</div>