<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - GitNinja</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <a href="@Url.Action("Index", "Home")"><img id="site-title-logo" src="@Url.Content("~/Images/gitninja50x50.png")" alt="GitNinja logo (Octocat in a ninja mask)" class="float-left"/></a>
                <div id="site-title-wrapper" class="float-left">
                    <p class="site-title">
                        @Html.ActionLink("GitNinja.com", "Index", "Home")
                    </p>
                    <p class="site-subtitle">
                        Enterprise Git hosting on Windows <img src="@Url.Content("~/Images/microsoft-windows-logo-20x18.png")" alt="Microsoft Windows logo" />
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - GitNinja.com</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
