@using GitNinja.Gallery.Web.Helpers
@model GitNinja.Gallery.Web.Controllers.TreeBrowserController.TreeViewModel
<div>
    <table class="tree table table-bordered">
        <thead></thead>
        <tbody>
            @if (!Model.IsRoot)
            {
                <tr class="tree-entry">
                    <td class="tree-entry-icon"></td>
                    <td class="tree-entry-path"><a href="@Url.RouteUrl("tree", new {reference = Model.Reference, dojo = Model.Dojo, repo = Model.Repo, path = Model.ParentPath})">...</a></td>
                </tr>
            }
            @foreach (var entry in Model.Elements.OrderBy(e => e.Type))
            {
                <tr class="tree-entry">

                    @if (entry.IsDirectory)
                    {
                        <td class="tree-entry-icon"><span class="tree-entry-icon-directory">D</span></td>
                        <td class="tree-entry-path"><a href="@Url.RouteUrl("tree", new {reference = Model.Reference, dojo = Model.Dojo, repo = Model.Repo, path = entry.Path})">@entry.Name</a></td>
                    }
                    else
                    {
                        <td class="tree-entry-icon"><span class="tree-entry-icon-file">F</span></td>
                        <td class="tree-entry-path"><a href="@Url.RouteUrl("blob", new {reference = Model.Reference, dojo = Model.Dojo, repo = Model.Repo, path = entry.Path})">@entry.Name</a></td>                    
                    }

                    @if (entry.LastCommit != null)
                    {
                        <td class="tree-entry-when">@TimeHelper.RelativeTimeLabel(entry.LastCommit.AuthoredWhen)</td>
                        <td class="tree-entry-commit">@entry.LastCommit.Message [by <a href="#">@entry.LastCommit.Author</a>]</td>
                    }
                    else
                    {
                        <td class="tree-entry-when"></td>
                        <td class="tree-entry-commit"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
